.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/
.coverage
htmlcov/
node_modules/
.wrangler/
.dev.vars
.env
.env.local

screenshots/*
!screenshots/dash1.png
!screenshots/dash2.png
!screenshots/head.png